.Header {
  width: 100%;
  flex: 0 0 70px;
  color: white;
  background-color: #6d60b0;
  box-shadow: 0 5px 10px #e2e2e2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap; }
  .Header__left-wrapper {
    display: flex;
    flex-direction: row; }
  .Header__right-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; }
  .Header__left-block {
    height: 70px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center; }
    .Header__left-block_logo, .Header__left-block_search {
      flex: 0 0 170px; }
    .Header__left-block_view {
      flex: 0 0 250px;
      border-left: 1px solid #8a80c0; }
    .Header__left-block_info {
      flex: 0 0 220px; }
    .Header__left-block_onPage {
      flex: 0 0 360px; }
    .Header__left-block_account {
      flex: 0 0 190px;
      border-left: 1px solid #8a80c0;
      border-right: 1px solid #8a80c0; }
  .Header__logo-name {
    font-size: 18px;
    font-weight: bold; }
  .Header__search-icon {
    margin-right: 10px; }
  .Header__view-text {
    margin-right: 15px; }
  .Header__view-icon {
    margin-left: 10px; }
  .Header__account-plus {
    margin-top: -7px;
    margin-right: 10px; }
  .Header__page-count {
    height: 25px;
    border-radius: 2px;
    border: 0 solid transparent;
    text-align: left;
    padding-left: 10px;
    color: #aeaeae; }
    .Header__page-count_select {
      width: 65px;
      margin-left: 18px; }
    .Header__page-count_all {
      width: 90px;
      margin-left: 10px; }
  .Header__page-count-icon {
    width: 18px;
    height: 18px;
    position: relative; }
    .Header__page-count-icon_upSelect {
      top: -10px;
      left: -23px; }
    .Header__page-count-icon_downSelect {
      top: 10px;
      left: -41px; }
    .Header__page-count-icon_downSelectAll {
      top: 5px;
      left: -20px; }
  .Header__additional-info-button {
    flex: 0 0 47px;
    height: 24px;
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    justify-content: flex-start;
    background-color: #ffffff;
    box-shadow: 0 2px 10px #6a5cb1;
    margin-left: 15px; }
  .Header__additional-info-button-circle {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    color: #aeaeae;
    background-color: #6d60b0;
    border: 1.4px solid #ffffff;
    box-shadow: 0 2px 10px #6a5cb1; }
