.Footer {
  flex: 0 0 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &__page-navigate {
    width: 80px;
    height: 40px;
    border-radius: 40px;
    border: 1px solid #9e9e9e;
    color: #aeaeae;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &_selected {
      border: 1px solid #6d60b0;
      color: #6d60b0;
    }
    &_toFirst {
      background: url("../../svg/arrow-collapse-left.svg") center no-repeat;
      background-size: contain;
    }
    &_toPrev {
      background: url("../../svg/chevron-left.svg") center no-repeat;
      background-size: contain;
    }
    &_toNext {
      background: url("../../svg/chevron-right.svg") center no-repeat;
      background-size: contain;
    }
    &_toLast {
      background: url("../../svg/arrow-collapse-right.svg") center no-repeat;
      background-size: contain;
    }
  }
  &__line {
    margin: 0;
    width: 25px;
  }
}
